/**
 * Overwrites the Trello styles when .business is set on body
 */

.business .list-wrapper {
    width: 320px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.business .list-card .js-member-droppable .ui-droppable {
    max-width: none;
}

.business .list-card-details {
    overflow: hidden;
    padding: 0;
    padding-top: 6px;
    position: relative;
    z-index: 10;
    width: auto;
}

.business .list-card-labels {
    margin: -6px 0px 0px;
    overflow: hidden;
}

.business .body-card-label-text .card-label.mod-card-front {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.business .card-label.mod-card-front {
    float: left;
    height: 5px;
    width: 10%;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
    border-radius: 0px;
    margin: 0px;
}

.business .list-card-title {
    clear: both;
    display: block;
    font-weight: 400;
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    width: 60%;
    font-size: 11px;
    line-height: 1.2em;
    float: left;
    padding: 0;
}

.business .badges {
    float: right;
    width: 35%;
    text-overflow: clip;
    border-left: 1px solid #eee;
    padding: 0;
    margin: 0;
}

.business .badge-text {
    font-size: 8pt;
    padding: 0 2px;
    white-space: nowrap;
    clear: both;
    display: inline-table;
}

.business .list-card-members {
    clear: both;
    float: left;
    margin: 0;
    display: block;
}

.business .list-card-members .member {
    float: right;
    margin: 0;
    border-radius: 0px;
}

.business .list-card-members .member .member-avatar {
    height: 24px;
    width: 24px;
    border-radius: 0;
}